/* Element Selector */

body{
    background-color: grey;
    color: black;
}
/* Class Selector(.) */

.class_container{
    background-color: seashell;
    color: blue;
}
/* Id Selector(#) */

#id_container{
    background-color: beige;
    color: red;
}